.left-image{
  position: absolute;
		top: 60px;
		left: 80px;
}
.right-image{
  position: relative;
		top: 0;
		left: 0;
}

    .jumbotron {
      background-image: linear-gradient(to bottom right, rgb(51, 96, 245), rgb(108, 249, 249));
    }
    h1 {
      font-family: 'Acme', sans-serif;
    }
    .img-fluid {
      width: 100%;
    }
    .animals {
      height: 250px;
    }
    .googleFont {
      font-family: 'Dancing Script', cursive;
    }
    .ml-auto {
      left: auto !important;
      right: 0px;
    }
    .fas {
      color: rgb(123, 167, 233);
      border: 3px solid rgb(123, 167, 233);
      padding: 1 2;
      border-radius: 50%;
    }
  